.componentDiv {
    display: flex;
    height: 100%;
    background-image: url('../../../public/pexels-danbuilds-633409.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 0;

}

.formDiv {
    margin: auto;
    text-align: center;
    width: 30vw;
    border: 1px solid white;
    padding: 5rem;
    border-radius: 1rem;
    box-shadow: 3px 2px 23px gray;
}

.form-btn {
    width: 100%;
}